In [1]:
import pandas as pd

In [2]:
# SQLAlchemy
from sqlalchemy import create_engine

# Path to sqlite
database_path = "../Xi/states_HPI_disa_weather_final2.csv"

# Read database_path and store into Pandas data frame
IL_data = pd.read_csv(database_path)

In [3]:
print(IL_data)

   State  Year  Total_Disaster  InterestRate  Unemployment Rate   HomeOwnRate  \
0     CA  1996            11.0         0.078               0.073        0.550
1     CA  1997            20.0         0.076               0.064        0.557
2     CA  1998            15.0         0.069               0.059        0.560
3     CA  1999            85.0         0.074               0.052        0.557
4     CA  2000            32.0         0.081               0.049        0.571
..   ...   ...             ...           ...                 ...          ...
82    CA  1995             NaN         0.079               0.079        0.554
83    CA  1994             NaN         0.084               0.086        0.555
84    CA  1993             NaN         0.073               0.095        0.560
85    CA  1992             NaN         0.084               0.093        0.553
86    CA  1991             NaN         0.093               0.077        0.545

    Population  MediumIncome         HPI  Total (C)  Total (F)  \
0     31780829         63176  330.618545      180.0      713.0
1     32217708         63245  338.655091      175.0      707.0
2     32682794         64349  355.755536      162.0      680.0
3     33145121         67156  376.622500      171.0      693.0
4     33987977         69696  439.172182      173.0      703.0
..         ...           ...         ...        ...        ...
82    31493525         61846  329.986000      175.0      704.0
83    31317179         60464  332.747455      168.0      693.0
84    31147208         59529  338.246727      168.0      690.0
85    30875920         62517  350.106852      176.0      709.0
86    30414114         61797  350.527407      168.0      692.0

    Average Temperature (F)  Average Temperature (C)
0                     59.42                    15.00
1                     58.92                    14.58
2                     56.67                    13.50
3                     57.75                    14.25
4                     58.58                    14.42
..                      ...                      ...
82                    58.67                    14.58
83                    57.75                    14.00
84                    57.50                    14.00
85                    59.08                    14.67
86                    57.67                    14.00

[87 rows x 13 columns]

In [4]:
df_new = IL_data.rename(columns={'Date': 'Date','BLOO017URN': 'Bloomington', 'CHAM517URN': 'Champaign-Urbana', 'STLURN': 'St. Louis', 'CHIC917URN': 'Chicago-Naperville-Elgin', 'DANV117URN': 'Danville', 'DAVE317URN': 'Davenport-Moline-Rock Island', 'DECA517URN': 'Decatur', 'KANK117URN': 'Kankakee', 'PEOR917URN': 'Peoria', 'ROCK417URN': 'Rockford', 'SPRI117URN': 'Springfield'})
print(df_new)

   State  Year  Total_Disaster  InterestRate  Unemployment Rate   HomeOwnRate  \
0     CA  1996            11.0         0.078               0.073        0.550
1     CA  1997            20.0         0.076               0.064        0.557
2     CA  1998            15.0         0.069               0.059        0.560
3     CA  1999            85.0         0.074               0.052        0.557
4     CA  2000            32.0         0.081               0.049        0.571
..   ...   ...             ...           ...                 ...          ...
82    CA  1995             NaN         0.079               0.079        0.554
83    CA  1994             NaN         0.084               0.086        0.555
84    CA  1993             NaN         0.073               0.095        0.560
85    CA  1992             NaN         0.084               0.093        0.553
86    CA  1991             NaN         0.093               0.077        0.545

    Population  MediumIncome         HPI  Total (C)  Total (F)  \
0     31780829         63176  330.618545      180.0      713.0
1     32217708         63245  338.655091      175.0      707.0
2     32682794         64349  355.755536      162.0      680.0
3     33145121         67156  376.622500      171.0      693.0
4     33987977         69696  439.172182      173.0      703.0
..         ...           ...         ...        ...        ...
82    31493525         61846  329.986000      175.0      704.0
83    31317179         60464  332.747455      168.0      693.0
84    31147208         59529  338.246727      168.0      690.0
85    30875920         62517  350.106852      176.0      709.0
86    30414114         61797  350.527407      168.0      692.0

    Average Temperature (F)  Average Temperature (C)
0                     59.42                    15.00
1                     58.92                    14.58
2                     56.67                    13.50
3                     57.75                    14.25
4                     58.58                    14.42
..                      ...                      ...
82                    58.67                    14.58
83                    57.75                    14.00
84                    57.50                    14.00
85                    59.08                    14.67
86                    57.67                    14.00

[87 rows x 13 columns]