In [1]:
import pandas as pd

In [2]:
# SQLAlchemy
from sqlalchemy import create_engine

# Path to sqlite
database_path = "../IL Data/IL Unemployment Rates 1990-2020.csv"

# Read database_path and store into Pandas data frame
IL_data = pd.read_csv(database_path)

In [3]:
print(IL_data)

         DATE  BLOO017URN  CHAM517URN  STLURN  CHIC917URN  DANV117URN  \
0    1/1/1990         4.1         4.0     5.9         6.6         8.7
1    2/1/1990         4.3         3.9     6.1         6.5         9.4
2    3/1/1990         3.8         3.2     6.0         6.3         9.5
3    4/1/1990         3.4         2.8     5.5         6.3         7.6
4    5/1/1990         3.0         2.8     5.1         6.1         7.5
..        ...         ...         ...     ...         ...         ...
364  5/1/2020        11.1        10.1    11.3        15.3        14.1
365  6/1/2020        10.5        10.2     9.7        15.5        12.3
366  7/1/2020         8.1         8.0     8.2        12.1        10.1
367  8/1/2020         7.4         7.5     8.0        11.8         9.5
368  9/1/2020         6.3         6.0     5.5        10.5         8.4

     DAVE317URN  DECA517URN  KANK117URN  PEOR917URN  ROCK417URN  SPRI117URN
0           5.6         6.5         7.3         5.3         7.7         4.3
1           5.9         7.4         7.8         5.7         5.9         4.6
2           5.3         6.4         6.9         5.1         5.4         3.8
3           4.8         5.9         6.3         4.7         4.9         3.4
4           4.3         5.6         5.8         4.2         4.7         3.0
..          ...         ...         ...         ...         ...         ...
364        14.4        15.0        13.5        15.4        19.5        13.1
365        11.5        14.4        12.0        13.5        15.9        11.7
366         9.4        12.2         9.7        10.8        14.1         9.2
367         8.5        11.3         9.1         9.8        11.5         8.7
368         7.1        10.1         8.1         8.5        10.0         7.7

[369 rows x 12 columns]

In [ ]:
df_new = df.rename(columns={'Date': 'Date','BLOO017URN': 'Bloomington', 'CHAM517URN': 'Champaign-Urbana', 'STLURN': 'St. Louis', 'CHIC917URN': 'Chicago-Naperville-Elgin', 'DANV117URN': 'Danville', 'DAVE317URN': 'Davenport-Moline-Rock Island', 'DECA517URN': 'Decatur', 'KANK117URN': 'Kankakee', 'PEOR917URN': 'Peoria', 'ROCK417URN': 'Rockford', 'SPRI117URN': 'Springfield'})
print(df_new)