In [1]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [39]:
weather = pd.read_csv("Resources/StateWeatherByYearPredicted2.csv")
disaster = pd.read_csv("Resources/StateDisasterByYearPredicted.csv")
hpi = pd.read_csv("Resources/StateHPIByYearPredicted.csv")

hpi

     Unnamed: 0  HPI (Predicted)  Year       State
0            50       411.534827  1996  California
1            51       352.729579  1997  California
2            52       376.879986  1998  California
3            53       323.461683  1999  California
4            54       525.923849  2000  California
..          ...              ...   ...         ...
367         169       240.895108  2115    Illinois
368         170       253.791300  2116    Illinois
369         171       248.828342  2117    Illinois
370         172       245.923808  2118    Illinois
371         173       242.397584  2119    Illinois

[372 rows x 4 columns]

In [40]:
weather_disaster = weather.merge(disaster, how="outer", on=["State", "Year"])

weather_disaster.head(25)

,Unnamed: 0_x,Year,State,"Average Weather (F, Predicted)",Unnamed: 0_y,Total_Disasters (Predicted)
0,0,1996,California,58.026152,51,81.475365
1,1,1997,California,58.236920,52,62.247990
2,2,1998,California,58.122479,53,31.755943
3,3,1999,California,58.100723,54,38.874983
4,4,2000,California,58.165753,55,58.250681
5,5,2001,California,58.433510,56,44.099154
6,6,2002,California,58.161562,57,65.995943
7,7,2003,California,58.376363,58,44.748152
8,8,2004,California,58.281721,59,48.811175
9,9,2005,California,58.123838,60,19.874140
10,10,2006,California,58.301163,61,42.771259
11,11,2007,California,58.572952,62,26.599316
12,12,2008,California,58.557361,63,54.684344
13,13,2009,California,58.440911,64,25.206592
14,14,2010,California,58.417132,65,33.331753
15,15,2011,California,58.263281,66,2.374302
16,16,2012,California,58.753951,67,36.535508
17,17,2013,California,58.479994,68,59.446592
18,18,2014,California,58.692772,69,39.204922
19,19,2015,California,58.580354,70,7.706754
20,20,2016,California,58.444279,71,12.310494
21,21,2017,California,58.619596,72,36.221908
22,22,2018,California,58.889361,73,21.056086
23,23,2019,California,58.619437,74,41.946754
24,24,2020,California,58.761352,75,17.642946

In [42]:
weather_disaster_hpi = weather_disaster.merge(hpi, how="outer", on=["State", "Year"])

weather_disaster_hpi = weather_disaster_hpi[["Year", "State", "Average Weather (F, Predicted)", "Total_Disasters (Predicted)", "HPI (Predicted)"]]

weather_disaster_hpi

,Year,State,"Average Weather (F, Predicted)",Total_Disasters (Predicted),HPI (Predicted)
0,1996,California,58.026152,81.475365,411.534827
1,1997,California,58.236920,62.247990,352.729579
2,1998,California,58.122479,31.755943,376.879986
3,1999,California,58.100723,38.874983,323.461683
4,2000,California,58.165753,58.250681,525.923849
...,...,...,...,...,...
367,2115,Illinois,56.222767,-87.506885,240.895108
368,2116,Illinois,57.025033,-28.325720,253.791300
369,2117,Illinois,56.197010,-64.362603,248.828342
370,2118,Illinois,57.027116,-82.911157,245.923808
371,2119,Illinois,56.532533,-62.069851,242.397584

In [43]:
# Assign the data to X and y

X = weather_disaster_hpi[["Average Weather (F, Predicted)", "Total_Disasters (Predicted)"]]
y = weather_disaster_hpi["HPI (Predicted)"].values.reshape(-1, 1)
print(X.shape, y.shape)

(372, 2) (372, 1)

In [44]:
# Use train_test_split to create training and testing data

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

### END SOLUTION

In [45]:
 # Create the model using LinearRegression

### BEGIN SOLUTION
from sklearn.linear_model import LinearRegression
model = LinearRegression()
### END SOLUTION

In [46]:
# Fit the model to the training data and calculate the scores for the training and testing data

### BEGIN SOLUTION
model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.47678810312717473
Testing Score: 0.4465524563936246